* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9e97ac;
    font-family: 'Courier New', Courier, monospace;
    color: #0b52eb;
    line-height: 1.6; 
}

header {
    background-color: #9e97ac;
    text-align: center;
    padding: 40px 20px; 
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    border-bottom: 4px solid #0b52eb;
}

header h2 {
    font-size: 1.8em;
    font-weight: normal;
    border-bottom: 4px solid #0b52eb;
}

nav {
    background-color: #9e97ac;
    padding: 15px 0;
}


nav a {
    color: #0b52eb;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 15px;
    font-size: 1.1em;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #0b52eb;
    color: #2d6a4f;
    border-radius: 5px;
}

nav ul{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
}

section {
    background-color: #9e97ac; 
    padding: 30px 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

section p {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

#skills, #projects {
    text-align: center;
}

main {
    background-color: #0b52eb;
    padding: 40px 20px;
}

.projects{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 400px;


}

